*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background: rgb(8,255,245);
    background: linear-gradient(170deg, rgba(8,255,245,1) 0%, rgba(31,134,215,1) 50%, rgba(18,103,227,1) 88%);
    

}

.main{
    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
    


    width: 400px;
    height: 600px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 0px;
}
.main h2{
   font-size: 30px;
   color:linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
}
.clock{
    font-size:36px;
    /* background-color: aliceblue; */
    background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
    color: black;
    border-radius: 10px;
    padding: 10px;
}